@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Management Information System is ...
        </p>
    </div>
</div>